{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V9</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'main/imagess/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/vendorr/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/fontss/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/fontss/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/vendorr/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'main/vendorr/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/vendorr/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/vendorr/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'main/vendorr/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/csss/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main/csss/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" action="register" method="POST">
                    {% csrf_token %}
				<span class="login100-form-title p-b-37">
					ثبت نام
				</span>

				<div>
					{% for message in messages%}
					<h3> {{message}}</h3>
					{% endfor %}
				</div>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter your first name">
					<input class="input100" type="text" name="first_name" placeholder="First Name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter your last name">
					<input class="input100" type="text" name="last_name" placeholder="Last Name">
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter your username">
					<input class="input100" type="text" name="username" placeholder="Username">
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter your email">
					<input class="input100" type="email" name="email" placeholder="Email">
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter your password">
					<input class="input100" type="password" name="password1" placeholder="Password">
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter your password">
					<input class="input100" type="password" name="password2" placeholder="Confirm Password">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						ثبت نام
					</button>
				</div>
			</form>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'main/vendorr/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/vendorr/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/vendorr/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'main/vendorr/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/vendorr/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/vendorr/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'main/vendorr/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/vendorr/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/jss/main.js' %}"></script>

</body>
</html>